{% extends 'base/base.html' %}

{% block content %}
    <h1>{{ feature.title }}</h1>
    <p>Описание: {{ feature.description }}</p>
    <p>В проекте: {{ feature.project }}</p>

    <p><a href="{% url 'quality_control:update_featurerequest' feature.id %}">Изменить запрос на улучшение</a></p>

    <p><a href="{% url 'quality_control:delete_featurerequest' feature.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот запрос на улучшение?');">Удалить запрос на улучшение</a></p>

{% endblock %}
